main{
    display: grid;
    grid-template-columns: auto auto auto;

    & div{
        border: 1px solid black;
        margin: 10px;
        text-align: center;
        border-radius: 10px;
        padding: 10px;

        & img{
            width: 100%;
        }
    }
}

.item_1{
    grid-area: header;
}

.item_2{
    grid-area: nav;
}

.item_3{
    grid-area: aside;
}

.item_4{
    grid-area: main;
}

.item_5{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas:
        'header header header header'
        'nav nav nav nav'
        'aside main main main'
        'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}